<div class="container">

    <div style="text-align: center;">
        <h1> welcome customer</h1>
    </div>
    
    <form>
    <div class="Form-group">
        <label for="userName">Name :</label>
        <input type="text" class="form-control" id="userName">
    </div>
    <br>
    <div class="Form-group"></div>
    <label for="userPassword">Password :</label>
    <input type="password" class="form-control" id="userPassword">
    <br>
    <nav>
        <a routerLink="/welcomeuser" class="btn btn-success">Login</a>
        
    </nav>
    <router-outlet></router-outlet>
    </form>
    </div>
