<nav>
  <a routerLink="/custlogin" class="btn btn-success">Logout</a>
  
</nav>
<router-outlet></router-outlet>
<div class="main" class="jumbotron">
    <div style="text-align: center;">     
    <h3>Welcome User</h3>
  </div>
      <div>
        <nav>
            <a routerLink="/book-flight" class="btn btn-primary">Book a Flight</a>
            
        </nav>
        <router-outlet></router-outlet>
      </div><br>
      <div>
        <nav>
            <a routerLink="/cancelbooking" class="btn btn-primary">Cancel a Booking</a>
            
        </nav>
        <router-outlet></router-outlet>
      </div>
    
  
</div>

