<div class="container">
    <div style="text-align: center;">
    <h1>Welcome Customer</h1>
    </div>
    <br>
    <div style="text-align:right;">
        <nav>
            <a routerLink="/custlogin" class="btn btn-success">Login</a>
            
        </nav>
        <router-outlet></router-outlet>
  
    </div>
    <form>
    <div class="Form-group">
      <label for="userName">Name:</label>
      <input type ="text" class="form-control" id="userName">
      
    </div>
    <br>
    <div class="Form-group">
      <label for="userPassword">Password</label>
      <input type ="password" class="form-control" id="userPassword">
    </div>
    <br>
    <div class="Form-group">
      <label for="userPhone">Phone number</label>
      <input type ="text" class="form-control" id="userPhone">
    </div>
    <br>
    <div class="Form-group">
      <label for="email">email:</label>
      <input type ="email" class="form-control" id="email">
    </div>
    <br>
    <div class="Form-group">
      <label for="DOB">DOB :</label>
      <input type ="date" class="form-control" id="DOB">
    </div>
    <br>
  <nav>
    <button class ="btn btn-success">sign up</button> 
  </nav>
  
    </form>
   
  </div>
