<h2 style="text-align: center;">Your Bookings:</h2>
<div style="text-align: right;">
    <nav>
        <a routerLink="/custlogin" class="btn btn-success">Logout</a>
        
      </nav>
      <router-outlet></router-outlet>
    </div>
<div class="container">
<form>
    <h4>Booking Id:</h4>
    <div>
        <h5>Flight Details</h5>
        <div>
            <label>Flight Number:</label>
            <input type="text" >
        </div><br>
        <div>
            <label>Carrier Name:</label>
            <input type="text" >
        </div><br>
        <div>
            <label>Departure:</label>
            <input type="text" >
        </div><br>
        <div>
            <label>Arrival:</label>
            <input type="text" >
        </div><br>
        <div>
            <label>Cost:</label>
            <input type="text" >
        </div><br>
    </div><br>
    <h4>Passanger Details:</h4>
    <div class="containers"> 
        <div class="grid-item">
            <p>Passenger 1:</p>
            Name:<br>
            Age:<br>
            Gender:<br>
            ID:<br>
        </div>
        <div class="grid-item">
            <p>Passenger 2:</p>
            Name:<br>
            Age:<br>
            Gender:<br>
            ID:<br>
        </div>
        <div class="grid-item">
            <p>Passenger 3:</p>
            Name:<br>
            Age:<br>
            Gender:<br>
            ID:<br>
        </div>
        <div class="grid-item">
            <p>Passenger 4:</p>
            Name:<br>
            Age:<br>
            Gender:<br>
            ID:<br>
        </div>
    </div>
    <div class="containers">
    <div >
        <button class="btn btn-success">Download</button>
    </div>
    <div >
        <button class="btn btn-success">Cancel</button>
    </div>
</div>

</form>
</div>

